name: Playwright Tests

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Install Node
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*

      # Install .NET
      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x

      # Install dependencies
      - name: Install dependencies
        run: npm ci

      # Install Playwright browsers
      - name: Install Playwright Browsers
        run: npx playwright install

      # Run Playwright tests
      - name: Run Playwright tests
        run: npx dotenv -e .env.test -- playwright test
        env:
            ConnectionStrings__DATABASE_CONNECTION: ${{ secrets.TEST_DATABASE_URL }}


      # Upload test report
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
